@theme {
  --color-og-primary-50: rgba(230, 246, 230, 1);
  --color-og-primary-75: rgba(151, 217, 152, 1);
  --color-og-primary-100: rgba(108, 201, 109, 1);
  --color-og-primary-200: rgba(44, 178, 47, 1);
  --color-og-primary-300: rgba(1, 162, 4, 1);
  --color-og-primary-400: rgba(1, 113, 3, 1);
  --color-og-primary-500: rgba(1, 99, 2, 1);

  --color-og-green-50: rgba(233, 246, 238, 1);
  --color-og-green-75: rgba(166, 218, 184, 1);
  --color-og-green-100: rgba(129, 203, 154, 1);
  --color-og-green-200: rgba(75, 180, 111, 1);
  --color-og-green-300: rgba(38, 165, 81, 1);
  --color-og-green-400: rgba(27, 115, 57, 1);
  --color-og-green-500: rgba(23, 101, 49, 1);

  --color-og-red-50: rgba(255, 235, 234, 1);
  --color-og-red-75: rgba(255, 175, 170, 1);
  --color-og-red-100: rgba(255, 141, 135, 1);
  --color-og-red-200: rgba(255, 92, 83, 1);
  --color-og-red-300: rgba(255, 59, 48, 1);
  --color-og-red-400: rgba(179, 41, 34, 1);
  --color-og-red-500: rgba(156, 36, 29, 1);

  --color-og-orange-50: rgba(255, 244, 230, 1);
  --color-og-orange-75: rgba(255, 212, 150, 1);
  --color-og-orange-100: rgba(255, 194, 107, 1);
  --color-og-orange-200: rgba(255, 167, 43, 1);
  --color-og-orange-300: rgba(255, 149, 0, 1);
  --color-og-orange-400: rgba(179, 104, 0, 1);
  --color-og-orange-500: rgba(156, 91, 0, 1);

  --color-og-blue-50: rgba(230, 242, 255, 1);
  --color-og-blue-75: rgba(150, 200, 255, 1);
  --color-og-blue-100: rgba(107, 178, 255, 1);
  --color-og-blue-200: rgba(43, 145, 255, 1);
  --color-og-blue-300: rgba(0, 122, 255, 1);
  --color-og-blue-400: rgba(0, 85, 179, 1);
  --color-og-blue-500: rgba(0, 74, 156, 1);

  --color-og-purple-50: rgba(247, 238, 252, 1);
  --color-og-purple-75: rgba(222, 184, 241, 1);
  --color-og-purple-100: rgba(208, 155, 235, 1);
  --color-og-purple-200: rgba(188, 111, 227, 1);
  --color-og-purple-300: rgba(174, 82, 221, 1);
  --color-og-purple-400: rgba(122, 57, 155, 1);
  --color-og-purple-500: rgba(106, 50, 135, 1);

  --color-og-indigo-50: rgba(238, 238, 251, 1);
  --color-og-indigo-75: rgba(186, 186, 238, 1);
  --color-og-indigo-100: rgba(158, 157, 231, 1);
  --color-og-indigo-200: rgba(116, 115, 220, 1);
  --color-og-indigo-300: rgba(87, 86, 213, 1);
  --color-og-indigo-400: rgba(61, 60, 149, 1);
  --color-og-indigo-500: rgba(53, 52, 130, 1);

  --color-og-black-10: rgba(250, 250, 250, 1);
  --color-og-black-20: rgba(246, 246, 246, 1);
  --color-og-black-30: rgba(237, 237, 237, 1);
  --color-og-black-40: rgba(225, 225, 226, 1);
  --color-og-black-50: rgba(198, 198, 199, 1);
  --color-og-black-60: rgba(184, 184, 185, 1);
  --color-og-black-70: rgba(173, 173, 174, 1);
  --color-og-black-80: rgba(159, 159, 160, 1);
  --color-og-black-90: rgba(145, 146, 147, 1);
  --color-og-black-100: rgba(131, 132, 133, 1);
  --color-og-black-200: rgba(118, 118, 119, 1);
  --color-og-black-300: rgba(104, 105, 106, 1);
  --color-og-black-400: rgba(92, 93, 95, 1);
  --color-og-black-500: rgba(79, 79, 81, 1);
  --color-og-black-600: rgba(67, 68, 70, 1);
  --color-og-black-700: rgba(51, 52, 54, 1);
  --color-og-black-800: rgba(37, 38, 40, 1);
  --color-og-black-900: rgba(26, 27, 29, 1);
}

@utility trans {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
